@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');;



html {
   box-sizing: border-box;/* this border just makes every element in the file add 
  the padding and border into that so 100px
   width will be eqaul to the content plus border plus padding  */
}

body {
  margin: 0;
  font-family: 'Style Script', cursive; 
  background: linear-gradient(#e66465, #9198e5);
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}


.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8); 
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 7px;
}

img {
  transition: all 1s;
}

img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px; 
  }
}